python=C:/Python27/python.exe
msvs_version=2017

target=5.0.13 
arch=ia32
target_arch=ia32
disturl=https://atom.io/download/electron
runtime=electron
build_from_source=true

node_gyp= *NoNeedToChangeManually*
