[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[scripts]
build = "python -m PyInstaller main.py --distpath ../public --name api --additional-hooks-dir ./hooks"

[dev-packages]
pyinstaller = "*"
pylint = "*"

[packages]
zerorpc = "*"

[requires]
python_version = "3.8-32"
